.chat-form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .chat-input {
    border: 2px solid rgb(90, 97, 100);
    border-radius: 1;
    padding: 5px;
    width: 80%;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
  }